.posts-container {
  width: 500px;
  height: auto;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.655);
  background-color: #ff8071;
}
.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background-color: #fff;
  width: 460px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
li:hover {
  background-color: #f1f1f1;
  transform: translateY(-2px);
}
.loading {
  font-size: 30px;
  text-align: center;
  color: red;
  margin-top: 20px;
  font-weight: 600;
}
.error {
  font-size: 25px;
  font-weight: 600;
  color: red;
  text-align: center;
  margin-top: 20px;
}
